/* Quitaremos todos los margins y paddings existentes para poder trabajar desde cero */
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #fcfcfc;
}

/* Pondremos todos los estilos que afectaran a todo el header  */
header{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;

}


/* Y algunos estilos más concretos */
.seccion-header{
    padding: 3px 15px;
    font-weight: 600;
    transition: background-color .4s ease;
}

/* El hover para que cuando pasemos el ratón por encima cambie el fondo  */
.seccion-header:hover{
    background-color: #adadad;
}

.header-actual{
    background-color: #adadad;
}

/* Aquí están todos los estilos de la presentación de la página */
.presentacion{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}

#imagen-titulo{
    max-width: 35%;
    min-width: 360px;
}

h4{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.pregunta{
    height: 55px;
    min-width: 35%;
    padding: 0 15px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #5e7dc4;
    border-radius: 20px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 20px;
}

/* He creado un separados que siempre que pongamos esta clase a un div tendremos una línea para separar secciones */
.separador{
    max-width: 70%;
    min-width: 300px;
    margin: 50px auto;
    border: 1.4px solid #777777;
}

/* Aquí están los estilos que he usado en el grid, no están al completo ya que los más personalizados como los colores
de cada div los he escrito en línea para hacerlo más compacto */
.contenedor-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 20%);
    gap: 40px;
    max-width: 1300px;
    margin: auto;
}

.seccion-grid{
    overflow: hidden;
}

.seccion-grid img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

b{
    margin: 30px 10px;
}

.itedu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 0 60px 0;
}

/* Un footer simple para finalizar la página */
footer{
    border-top: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}


/* Y para finalizar la actividad unos pequeños cambios para que cuando la página este en dispositivos mobile que se ajuste a estos
cambiando cosas como el grid-template-columns/rows para que dejen de estar cuatro en cada fila y sea uno por fila */
@media screen and (max-width: 700px) {
    .contenedor-grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(14, 6%);
        gap: 40px;
        margin: 40px auto;
        padding: 0 50px;
    }
}